.actionButton{
    background-color: #FBC1BE !important;  
    border-radius: 20px !important;
    margin-left: 10px;
}
.actionButton:hover{
    background-color: gray !important;
    color: white !important; 
}
.navbarBg{
    background-color: #C9E9E4 !important;
}
.contentWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.labelWrap{
    margin: 10px;
}
.dateWrap{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 50px;
    border-radius: 30px;
}
.flexDir form {
display: flex;
flex-direction: column;
gap: 3px;
}
.dateWrap input{
    height: 50px;
    width: 250px;
    border-radius: 30px;
    border: 1px solid #FBC1BE;
    padding: 20px;
    cursor: pointer;
}

.container{
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
    
}
.section{

    overflow: auto;
    height: 100vh;

}
.section h3{
    text-align: center;
    margin-top: 30px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 100%;
    margin: 0;
  }
  table tr{
      text-align: center;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    text-align: center;
    color: black;
    padding: 10px;
 
  }
  th{
      background-color: #FBC1BE;
      color: white;

  }
  
  tr:nth-child(even) {
    background-color: #C9E9E4;
  }
  .editBtn{
      margin-right: 5px;
      cursor: pointer;
  }
  .editBtn:hover{
      color: #FBC1BE;
  }
